input {
  width: 100%;
  padding: 20px;
}

.search-form {
  max-width: 80%;
  margin: 50px auto;
}

input.search {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  outline: 0;
  border: 10px solid #f7f7f7;
  position: relative;
  top: 10px;
  border-radius: 5px;
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.results {
  width: 80%;
  margin: 0 auto;
  column-count: 4;
  column-gap: 1em;
}

img {
  max-width: 120px;
  /* max-height: 100px; */
}

.card {
  display: inline-block;
  background-color: white;
  border: 1px solid lightgray;
  margin: 0;
  min-height: 250px;
  width: 100%;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis; 
  -webkit-box-shadow: 0px 3px 9px 1px rgba(227,220,227,1);
  -moz-box-shadow: 0px 3px 9px 1px rgba(227,220,227,1);
  box-shadow: 0px 3px 9px 1px rgba(227,220,227,1);
}

.card img {
  margin: 0 0 0.5em 0;
}

@media screen and (max-width: 768px) {
  .results {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .results {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .results {
    column-count: 3;
  }
}

@media screen and (max-width: 480px) {
  .results {
    column-count: 2;
  }
}

@media screen and (max-width: 320px) {
  .results {
    column-count: 1;
  }
}

.name {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px;
}

.tags {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

.date {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
}

#empty {
  width: 65px;
  margin: auto;
  padding-top: 20px;
}
